{% extends 'base.html' %}
{% block content %}

<header class="wallheader clearfix">
	<h2 class="wallcodingdojo">CodingDojo: The Wall</h2>
	<form action="/logout" method="post" class="logoutform">
		<input type="submit" value="Logout">
	</form>
	<p class="wallwelcome">Welcome {{user_name[0]['first_name']+' '+user_name[0]['last_name']}}</p>
</header>
<form action="/message" method="post" class="postmessage">
		<textarea name="message" cols="73" rows="5"></textarea><br>
		<input type="submit" value="Post Message">
</form>
	{% if all_messages %}
	{% for message in all_messages %}
		<p class="messagetime">Message from {{message['first_name']}} {{message['last_name']}} at {{message['created_at']}}</p>
		<p class="message">{{message['message']}}</p>
		{% if all_comments %}
		{% for comment in all_comments %}
			{%  if message['message_id']==comment['messages_id']:  %}
			<p class="commenttime">Comment from {{comment['first_name']}} {{comment['last_name']}} at {{comment['created_at']}}</p>
			<p class="comment">{{comment['comment']}}</p>
			{% endif %}
		{% endfor %}
		{% endif %}
		<form action="/comment" method="post" class="postcomment">
			<textarea name="comment" cols="73" rows="5"></textarea><br>
			<input type="hidden" name='message_id' value={{message['message_id']}}>
			<input type="submit" value="Post Comment">
		</form>
	{% endfor %}
	{% endif %}
{% endblock %}