<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	<title>Document</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<hr>
	{% for email in all_emails: %}
		<p>ID: {{email['id']}}</p>
		<p>Email Address: {{email['address']}}</p>
		<p>Created At: {{email['created_at']}}</p>
		<p>Updated At: {{email['updated_at']}}</p>
		<br>
	{% endfor %}
</body>
</html>