<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/styles.css">
	<title>Ninjas</title>
</head>
<body>
	<p>While the image of a ninja clad in black garb is prevalent in popular media, there is no written evidence for such a costume. Instead, it was much more common for the ninja to be disguised as civilians. The popular notion of black clothing is likely rooted in artistic convention; early drawings of ninja showed them dressed in black in order to portray a sense of invisibility</p>
</body>
</html>